/* initialize fonts */

@font-face {
	font-family: 'Bloons TD';
	src: url(../src/font/BloonsTD-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans 3 SemiBold';
	src: url(../src/font/SourceSans3-Semibold.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans 3 MidItalics';
	src: url(../src/font/SourceSans3-MediumItalic.ttf);
	font-weight: normal;
	font-style: normal;
}

.form-flex {
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
	background-color: #36343C;
	border-radius: 5%;
}

.form-element {
	padding: 0.5em 1em;
}

.img-btn {
	max-height: 96px;
	cursor: pointer;
	margin: 0.5em;
	border-radius: 10%;
}

.img-border {
	border: 1px solid black;
}

label {
	font-size: 1.5em;
	display: inline-block;
}

select {
	font-size: 1.25em;
	font-family: 'Source Sans 3 SemiBold';
	padding: 0;
	background-color: #44425A;
	border: 1px solid black;
	border-radius: 10px;
	width: 200px;
	height: 38.25px;
	color: #FFF
}

input[type="range"] {
	width: 8em;
	cursor: pointer;
	margin: 1em 0em;
	accent-color: #44425A;
}

input[type="checkbox"] {
	margin: 0em;
	height: 1.5em;
	width: 1.5em;
	font-size: 1.5em;
	outline: 1px solid black;
	accent-color: #44425A;
}

input[type="number"] {
	background-color: #44425A;
	margin: 1em 0em;
	color: #FFF;
	border: 0px;
	width: 5em;
}

.scale-slider {
	width: 10em !important;
}

input[type="text"] {
	font-size: 1.5em;
	font-family: 'Source Sans 3 SemiBold';
	padding: 0;
	background-color: #44425A;
	border: 1px solid black;
	border-radius: 10px;
	color: #FFF
}

textarea {
	resize: none;
	font-size: 1.5em;
	font-family: 'Source Sans 3 SemiBold';
	background-color: #44425A;
	border: 1px solid black;
	border-radius: 10px;
	color: #FFF;
}

input[type="file"] {
	display: none;
}

.label-btn {
	border: 1px solid #000;
	margin: 0;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
	cursor: pointer;
	display: inline-block;
	background-color: #44425A;
	border-radius: 10px;
	color: #FFF;
}

.two-col {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

/* card image styles */
/* translate(-50%, -50%) for centering images  */
/* left top for where center is */
.card-container {
	width: 375px;
	height: 510px;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 20%;
}

.card {
	max-width: 635px;
	max-height: 888px;
	position: absolute;
	user-select: none;
	pointer-events: none;
	transform: scale(50%) translate(0%, -50%);
	top: 35px;
}

.card-img {
	width: 92%;
	height: 96%;
	transform: translate(-50%, 2.2%);
	left: 50%;
	object-fit: cover;
	position: absolute;
	border-radius: 10%;
	z-index: -1;
}
.card-border {
	transform: translate(0% -0.8%);
}
.cost {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 4%
}

.coin1 {
	left: 9%;
	z-index: 3;
}

.coin2 {
	left: 14.5%;
	z-index: 2;
	visibility: hidden;
}

.coin3 {
	left: 20%;
	visibility: hidden;
}

.coinplus {
	left: 30.5%;
	visibility: hidden;
	z-index: 1;
}

.damage {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 90%;
	top: 4%
}

.ammo {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 90%;
	top: 25%
}

.delay {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 95.5%;
	top: 43%
}

.rarity-pin {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 96.5%
}

.hero-pin {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 0%
}

.class-pin {
	position: absolute;
	transform: translate(-66.2%, 60%);
	left: 8%;
	top: 43%;
}
.thicker-stroke {
	top: 4px;
	-webkit-text-stroke: 0.16em black;
	color: transparent;
	position: absolute;
	width: 100%;
	word-wrap: break-word;
	margin: 0;
	font-family: 'Bloons TD';
	text-align: center;
}

.thick-stroke {
	top: 2px;
	-webkit-text-stroke: 0.14em black;
	color: transparent;
	position: absolute;
	width: 100%;
	word-wrap: break-word;
	margin: 0;
	font-family: 'Bloons TD';
	text-align: center;
}

.bold-text {
	display: block;
	z-index: 1;
	position: relative;
	-webkit-text-stroke: 0.05em black;
	text-align: center;
	color: white;
	font-family: 'Bloons TD';
	word-wrap: break-word;
	margin: 0;
}
.title-text-container {
	position: absolute;
	font-size: 3.5em;
	left: 7.5%;
	width: 85%;
	max-height: 30%;
	bottom: 345px;
}

.class-text-container {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 2.3em;
	left: 50%;
	top: 64%;
	width: 90%;
	max-height: 20%;
}

.cost-text-container {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 6em;
	left: 9%;
	top: 4%;
	z-index: 3;
}

.damage-text-container {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 6em;
	left: 90%;
	top: 4%;
}

.ammo-text-container {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 6em;
	left: 90%;
	top: 23%;
}

.delay-text-container {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 4em;
	left: 95.5%;
	top: 43%;
}

.description-text {
	position: absolute;
	white-space: pre-line;
	transform: translate(-50%, -50%);
	font-weight: 600;
	left: 49.8%;
	top: 78.5%;
	font-size: 2.7em;
	color: white;
	text-align: center;
	width: 85%;
	height: auto;
}

.flavor-text {
	font-family: 'Source Sans 3 MidItalics';
	paint-order: stroke fill;
	white-space: pre-line;
	position: absolute;
	transform: translate(-50%, 0%);
	left: 50%;
	font-size: 2.5em;
	color: white;
	text-align: center;
	width: 90%;
	height: auto;
	top: 105%;
}
.no-outline {
	-webkit-text-stroke: 0em white;
}
/* top level styles */
.two-col-item {
	flex: 1 1 calc(50% - 12px); /* 50% width for each column minus gap */
}

.card-two-col {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	position: relative;
	transform: translate(0%, -10%);
}

h1 {
	font-family: 'Bloons TD';
	font-size: 3.5em;
	color: #FFF;
	margin: 0;
	-webkit-text-stroke: 0.05em black;
	text-shadow: 0em 0.10em black;
}

body {
	font-family: 'Source Sans 3 SemiBold';
	background-color: #4C4C4C;
	color: #FFF;
	-webkit-text-stroke: 0.07em black;
	paint-order: stroke fill;
}
